<h1><%= (@customer_name ||= '') + " (welcome page)" %></h1>
<!-- barista, customerともにnicknameを設定するようにする -->
Barista:<%= (@welcome_voice ||= '') %> 
<%= form_tag({ controller: :in_store_operations, action: :reply }, id: :reply, class: :reply) do %>
Customer:
<%= select_tag 'customer_voice', options_from_collection_for_select(@customer_voices, :id, :voice, 1) %>
  <%= submit_tag 'talk' %>
<% end %>

